.modal {
    position: absolute;
    top: 50%;
    left: 50%;    

    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: #fff;

    transform: translate(-50%, -50%);
    transition: transform var(--transition-duration-cubic);

    @media screen and (max-width: $mobile-breakpoint) {
        width: 95vw;
    }

    @media screen and (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint-predot) {
        width: 450px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        width: 528px;
    }
}

.is-hidden .modal {
    transform: scale(0.5);
    transform: translate(-50%, -50%);
}

.form-modal__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--color-titles);
}