.modal-textarea {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

.modal-textarea__input {
    display: block;
    width: 100%;
    height: 120px;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    cursor: pointer;

    transition: border-color var(--transition-duration-cubic);

    @media screen and (max-width: $mobile-breakpoint-predot) {
        height: 15vh;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        border-color: var(--color-accent);
    }
}

