.submit-button {
    display: block;
    width: 200px;
    height: 50px;

    padding: 0;
    margin-right: auto;
    margin-left: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;

    color: #fff;

    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color var(--transition-duration-cubic);

    &:hover {
        background-color: var(--color-accent-secondary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

