.wwd {
    display:none;

    @media screen and (min-width: $desktop-breakpoint) {
        display: block;
        padding-top: 0;
    
        &__title {
            margin-bottom: 50px;
    
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
    
            color: var(--color-titles);
        }
    }    
}

.wwd-list {
    @extend %flex-j;

    &__item {
        position: relative;
    }
    
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    
    &__description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
    
        @extend %flex-j-a;
    
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    
        color: #fff;
        background-color: rgba(47, 48, 58, 0.8);
    }
}