.footer {
    background-color: var(--color-bg-footer);
    padding-top: 60px;
    padding-bottom: 60px;
    
    &__contsocwrapper {
        @media screen and (min-width: $tablet-breakpoint) {
            display: flex;
            align-items: baseline;
            justify-content: center;            
        }
    }

    &__contsocwrapper--geometry {
        @media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint-predot) {
            margin-bottom: 60px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.footer-conteiner {
    display: block;

    @media screen and (min-width: $desktop-breakpoint) {
        display: flex;
        align-items: baseline;
    }    
}

.footer-contacts-block {
    display: block;
    width: 232px;

    @media screen and (max-width: $tablet-breakpoint-predot) {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }

    @media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint-predot) {
        text-align: center;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        width: 231px;
    }
}

.footer-logo {
    display: block;
    margin-bottom: 20px;

    color: #fff;
}

.address__item + .address__item {
    margin-top: 8px;

    @media screen and (min-width: $desktop-breakpoint) {
        margin-top: 9px;
    }    
}

.address__link {
    display: block;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address__geolocation {
    color: #fff;
}