.footer-subscribe-block {
    display: block;

    @media screen and (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint-predot) {
        width: 450px;
    }

    @media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint-predot) {
       margin-left: 166px;
       margin-right: 152px;
    }

    @media screen and (max-width: $desktop-breakpoint-predot) {
        text-align: center;
    }
    
    @media screen and (min-width: $desktop-breakpoint) {
        width: 570px;
    }
}

.form-subscribe__label {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: #fff;
    cursor: pointer;


}

.form-subscribe__wrapper {
    @media screen and (max-width: $desktop-breakpoint-predot) {
        display: block;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.form-subscribe__input {
    display: block;
    height: 50px;
    padding-left: 16px;
    padding-top: 15x;
    padding-bottom: 15x;

    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: border-color var(--transition-duration-cubic);

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
        border-color: var(--color-accent);
    }

    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
    }

    @media screen and (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint-predot) {
        width: 450px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        width: 358px;
    }
}

.button-subscribe {
    @extend %flex-j-a;

    width: 200px;
    height: 50px;
    padding: 10px 28px;
    
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color var(--transition-duration-cubic);

    &:hover {
        background-color: var(--color-accent-secondary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
    
        color: #fff;
    }

    &__icon {
        margin-left: 10px;
        fill: #fff;
    }
}

.button-subscribe--geometry {
    @media screen and (max-width: $desktop-breakpoint-predot) {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        margin-left: 12px;
    }
    
}