.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media screen and (max-width: $mobile-breakpoint-predot) {
        width: 100vw;
    }

    @media screen and (min-width: $mobile-breakpoint) {
        width: $mobile-breakpoint;
    }

    @media screen and (min-width: $tablet-breakpoint) {
        width: $tablet-breakpoint;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        width: $desktop-breakpoint;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop-breakpoint) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

/* No decoration utilities */
.list-nd {
    list-style: none;
}

.link-nd {
    text-decoration: none;
}