.contacts {
    display: none;

    @media screen and (min-width: $tablet-breakpoint) {
        display: block;
        margin-left: 90px;
        }

    @media screen and (min-width: $desktop-breakpoint) {
        display: flex;
        margin-left: auto;
    }
}

.contacts__item + .contacts__item {
    
    @media screen and (max-width: 1199px) {
        margin-top: 10px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        margin-left: 30px;
    }
}

.contacts__link {
    @extend %flex-a;
    gap: 10px;
    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--color-text-primary);
    fill: var(--color-text-primary);
    text-decoration: none;

    transition: color var(--transition-duration-cubic),
        fill var(--transition-duration-cubic);

    &:hover,
    &:focus {
        color: var(--color-accent);
        fill: var(--color-accent);
    }

    @media screen and (min-width: $desktop-breakpoint) {
        padding-top: 32px;
        padding-bottom: 32px;
        
        font-size: 14px;
        line-height: 1.14;
    }
}
