%flex-j-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-a {
    display: flex;
    align-items: center;
}

%flex-j {
    display: flex;
    justify-content: center;
}