:root {
    --color-bg-primary: #f5f5f5;
    --color-bg-secondary: #f5f4fa;
    --color-accent: #2196f3;
    --color-accent-secondary: #188ce8;
    --color-bg-footer: #2f303a;
    --color-titles: #212121;
    --color-text-primary: #757575;
    --l-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    --color-sl-primary: #afb1b8;
    --transition-duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --font: 'Roboto', sans-serif;
    
}

$mobile-breakpoint: 480px;
$tablet-breakpoint-predot: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;